{% extends 'base.html' %}

{% block title %}

<title>HOME PAGE</title>

{% endblock title %}

{% block content %}
</br>
</br>
<div class='container'>
</br>


{% if messages %}
{% for mes in messages %}
  <div class="alert alert-info alert-dismissible fade show" role="alert">
    {{mes}}

    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>

  </div>
{% endfor %}




{% endif %}


</br>


    <form method="POST">
       {% csrf_token %}
        <div class="form-group">
         <label>User Name: </label>
          <input type="text" class="form-control" placeholder="USERNAME" name="username" >
          
        </div>
        <div class="form-group">
          <label>Password : </label>
          <input type="password" class="form-control" name="password" placeholder="Password">
        </div>
    
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>

    </br>
</br>
    <table class="table">
        <thead>
          <tr>
             <!--<th class="col">S/R No.</th> -->
            <th class="col-3">User Name</th>
            <th class="col-3">Password</th>
            <th class="col-2">Status</th>
            <th class="col-3">Is Admin</th>
            <th class="col-1">Edit</th>
            <th class="col-1">Delete</th>
          </tr>
        </thead>
         
        <tbody>
        {% for obj in allUser  %}
            
        {% if obj.isAdmin %}
        <tr class="table-success">
           <!---- <th scope="row">{{forloop.counter}}</th> -->
            <td  class="col-3">{{obj.username}}</td>
            <td class="col-3">{{obj.password}}</td>
            <td  class="col-2">ADMIN</td>
            <td  class="col-3" ><a href="{% url 'checkstudent' obj.id%}"><button type="button" class="btn btn-secondary">Mark as Student</button></td>
            <td  class="col-1"><a href="{% url 'editUser' obj.id%}"><button type="button" class="btn btn-info">Edit</button></a></td>
            <td  class="col-1"><a href="{% url 'deleteUser' obj.id%}"><button type="button" class="btn btn-danger">Delete</button>
            </a></td>
          </tr>
        {% else %}
        <tr class="table-danger">
           <!---- <th scope="row">{{forloop.counter}}</th> -->
            <td  class="col-3">{{obj.username}}</td>
            <td  class="col-3">{{obj.password}}</td>
            <td  class="col-2">STUDENT</td>
            <td  class="col-3"><a href="{% url 'checkadmin' obj.id%}"><button type="button" class="btn btn-secondary">Mark as Admin</button></td>
            <td  class="col-1"><a href="{% url 'editUser' obj.id%}"><button type="button" class="btn btn-info">Edit</button></a></td>
            <td class="col-1" ><a href="{% url 'deleteUser' obj.id%}"><button type="button" class="btn btn-danger">Delete</button></a></td>
          </tr>

        
        {% endif %}
            
    
        
        {% endfor %}
        </tbody>
      </table>
    </br>
      <nav aria-label="Page navigation example">
        <ul class="pagination justify-content-center">
          <li class="page-item disabled">
            <a class="page-link" href="?page=1"><<<</a>
          </li>

          {% if allUser.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{allUser.previous_page_number}}">{{allUser.previous_page_number}}</a></li>
          {% endif %}
       
          <li class="page-item"><a class="page-link" href="?page={{allUser.number}}">{{allUser.number}}</a></li>
          
          {% if allUser.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{allUser.next_page_number}}">{{allUser.next_page_number}}</a></li>
          {% endif %}
          <li class="page-item">
            <a class="page-link" href="?page={{allUser.paginator.num_pages}}">>>></a>
          </li>
        </ul>
      </nav>


    </br>
</br>

    

</div>

{% endblock content %}